@model Lazybones.Models.Job

@{
    ViewBag.Title = "Search";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <h2>Search</h2>
    <div> 
    </div>
</body>
</html>
