@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<section>
    <div class="container-fluid"></div>
    <div class="row">
        <div class="col-sm-12">@Html.Partial("~/Views/Manage/UserProfile.cshtml")</div>
    </div>
    
</section>
<hr/>

<section>
@Html.Action("InnerSearch","Job")
</section>