@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="topSection">
        <h1 style="margin-top: 200px; text-align: center; color: #FFF; font-family: 'Shadows Into Light Two', cursive; font-size: 65px;">&nbsp;I really don't want to do this...&nbsp;</h1>
        <div style="margin-bottom: 185px; text-align: center; color: #FFF; font-size: 30px;">&nbsp; &nbsp; Using our platform, you can outsource any task, and get it done fast.</div>
    </div>
    
</section>
<div class="col-md-10" style="margin-top: 375px; text-align: center;">
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    @if (User.Identity.IsAuthenticated)
    {<a class="btn btn-default" href="/Job/Search">Search &raquo;</a>
    }
    else
    { <a class="btn btn-default" href="/Account/Login">Search &raquo;</a>}
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    @if (User.Identity.IsAuthenticated)
    {<a class="btn btn-default" href="/Job/Create">Post &raquo;</a>
    }
    else
    { <a class="btn btn-default" href="/Account/Login">Post &raquo;</a>}
</div>
<div class="row" style="margin-top: 500px;">
    <h1  style="text-align: center;">maybe your dirty clothes <em>can</em> wash themselves</h1>
    <br/> <br/>
    <div class="col-md-4" style="text-align: center;">
        <img src="http://i.imgur.com/vgMQKYb.png"/>
        <h2>Live Like a Kardashian</h2>
        <p>
            Do you dream of a life where you literally don't have to do anything for yourself? Indulge. Don't you dare lift a finger.  Unless you're using it to post a gig, that is. 
        </p>
        
    </div>
    <div class="col-md-4" style="text-align: center;">
        <img src="http://i.imgur.com/9Mc26rk.png"/>
        <h2>The World is Your Butler</h2>
        <p>If your hands are full, you need more hours in the day, or you just don't feel like putting on pants - this is the closest you can get to a clone, without the ethical gray areas.</p>
     
    </div>
    <div class="col-md-4" style="text-align: center;">
        <img src="http://i.imgur.com/TeB2hcb.png"/>
        <h2>Be a Buddy, Get Money</h2>
        <p>Could you use a couple extra bucks to pay the bills or buy something fancy? Pick up a nearby gig and help someone out in your spare time.</p>
       
    </div>
    
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'></script><div class='tableauPlaceholder' style='width: 100%; height: 655px; padding-top: 50px;'><object class='tableauViz' width='100%' height='655' style='display:none;'><param name='host_url' value='https%3A%2F%2Fus-east-1.online.tableau.com%2F' /> <param name='site_root' value='&#47;t&#47;babysloth' /><param name='name' value='Book1&#47;Sheet1' /><param name='tabs' value='no' /><param name='toolbar' value='no' /></object></div>
</div>
