@{
    ViewBag.Title = "Home Page";
}
<link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Shadows+Into+Light+Two" rel="stylesheet">
<section>
    <div class="topSection" style=" background-image: url(http://i.imgur.com/t2CiRly.jpg);
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-size:cover;">
    <h1 style="margin-top: 200px; text-align: center; color: #FFF; font-family: 'Shadows Into Light Two', cursive; font-size: 65px;">&nbsp;I really don't want to do this...&nbsp;</h1>
    <div style="margin-bottom: 185px; text-align: center; color: #FFF; font-size: 30px;">&nbsp; &nbsp; Using our platform, you can outsource any task, and get it done fast.</div>
    </div>

</section>
<section style="font-family: 'Didact Gothic', sans-serif;">
    <div class="row" style="margin-top: 475px;">
        <h1 style="text-align: center; font-family: 'Didact Gothic', sans-serif;">maybe your dirty clothes <em>can</em> wash themselves</h1>
        <br /> <br />
        <div class="col-md-4" style="text-align: center; font-family: 'Didact Gothic', sans-serif;">
            <img src="http://i.imgur.com/Ao2FyeA.png" />
            <div style="margin-top: -60px; position: absolute; background-color: rgba(255, 255, 255, .75);">
                <h2>Live Like a Princess</h2>
                <p>
                    Do you dream of a life where you literally don't have to do anything for yourself? Indulge. Don't you dare lift a finger.  Unless you're using it to post a gig, that is.
                </p>
            </div>
        </div>
        <div class="col-md-4" style="text-align: center; font-family: 'Didact Gothic', sans-serif;" >
            <img src="http://i.imgur.com/b82qSZP.png" />
            <div style="margin-top: -60px; position: absolute; background-color: rgba(255, 255, 255, .75);">
                <h2>The World is Your Butler</h2>
                <p>If your hands are full, you need more hours in the day, or you just don't feel like putting on pants - there's an Alfred out there just waiting for a Master Bruce.</p>
            </div>
        </div>  
        <div class="col-md-4" style="text-align: center; font-family: 'Didact Gothic', sans-serif;">
            <img src="http://i.imgur.com/zRFy7p1.png" />
            <div style="margin-top: -60px; position: absolute; background-color: rgba(255, 255, 255, .75); margin-right: 5px;">
                <h2>The Sky is the Limit</h2>
                <p>Achieve anything with minimal effort.  Put your one-upping cousin to shame with your accomplishments at the next family dinner. Finance your dreams by picking up gigs.</p>
            </div>
        </div>
    </div> <br/>
</section>
<br/>
<br/>
<br/>
<br/>
<br/>
<section style="background-color: rgba(255, 255, 255, .6); height: 300px;" width="100%;">
    <div class="container-fluid"  style="padding-top: 50px;">
        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <h2 style="text-align: center;"><em>"It's, like, so easy."</em></h2>
                    <br/>
                    <p style="text-align: center; font-size: larger;">
                        Getting a job done is only a few clicks away.  Log in or register, click "post", and tell us what you need. <br/>
                        Just like that - you're ready to go!  You'll get a text notification the minute your gig is picked up. <br/>
                        Right from your dashboard you can view your posts, any gigs your working, and explore nearby. 
                    </p>
                    <br/>
                <p style="font-size: large;">Couldn't. Be. Easier.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="row">
                    <img style="margin: auto;" width="200px" src="http://i.imgur.com/kJKmWSL.jpg"/>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="display: block; padding-top: 50px;
    margin-left: 9px;
    margin-right: auto;">
    <script type='text/javascript' src='https://us-east-1.online.tableau.com/javascripts/api/viz_v1.js'>
    </script>
    <div class='tableauPlaceholder' style='width: 100%; height: 655px;'>
        <object class='tableauViz' width='100%' height='655' style='display: none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='site_root' value='' />
            <param name='name' value='TaskJeevesFront&#47;Sheet1' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='no' />
        </object>
    </div>
</section>
<hr />
<footer style="font-family: 'Didact Gothic', sans-serif;">
    <p>&copy; @DateTime.Now.Year Site powered by baby sloths</p>
</footer>