@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="topSection">
        <h1 style="margin-top: 215px; text-align: center; color: #FFF; font-family: 'Shadows Into Light Two', cursive; font-size: 60px;">&nbsp;I really don't want to do this...&nbsp;</h1>
        <div style="margin-bottom: 185px; text-align: center; color: #FFF; font-size: 30px;">&nbsp; &nbsp; Give someone else a go at it</div>
    </div>
</section>

<div class="row" style="margin-top: 500px;">
    <div class="col-md-4">
        <img src="http://i.imgur.com/Nl9vH98.png"/>
        <h2 style="text-align: center;">Live Like a Kardashian</h2>
        <p>
            Do you dream of a life where you literally don't have to do anything for yourself? Indulge. Using our platform, you can outsource any menial task, and get it done fast.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <img src="http://i.imgur.com/R2kz1qd.png"/>
        <h2 style="text-align: center;">Get the help you need</h2>
        <p>Are you frequently short on time, or need an extra set of hands? This is the closest that you can get to cloning yourself, without breaking the laws of humanity.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <img src="http://i.imgur.com/FRkuJS7.png"/>
        <h2 style="text-align: center;">Get Paid, Son</h2>
        <p>Think of yourself as a go-getter?  Could you use a couple extra bucks to pay the bills or buy something fancy?  Find a quick gig nearby to make those ends meet.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
